@import url('https://fonts.googleapis.com/css2?family=Exo+2');

$lt-gray: #ddd;
$background-dark: #001011; //
$background-light: #093A3E;
$background-pale: #97C8EB;

// Height variables
$carousel-item-height: 300px;

@mixin zero-margin($pad-up-dn, $pad-left-right) {
  margin:0 auto;
  padding: $pad-up-dn $pad-left-right;
}

* {
  font-family: 'Exo 2', sans-serif;
  color: floralwhite;
}

.row-header{
  @include zero-margin(0px,0px);
}

.row-content {
  @include zero-margin(50px,0px);
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: $background-pale;
  @include zero-margin(20px, 0px);
}

.jumbotron {
  @include zero-margin(70px,0px);
  background: url("../img/home.jpg");
  color:floralwhite;
  min-height: 500px;
}

address{
  font-size:80%;
  margin:0;
  color:#0f0f0f;
}

body{
  background-color: $background-dark;
  padding:50px 0 0 0;
  z-index:0;
}

.navbar-dark {
  background-color: $background-dark;
}

.tab-content {
  border-left: 1px solid $lt-gray;
  border-right: 1px solid $lt-gray;
  border-bottom: 1px solid $lt-gray;
  padding: 10px;
}

.carousel {
  background:$background-dark;

  .carousel-item {
    height: $carousel-item-height;
    min-height: 500px;
    img {
      position: absolute;
      opacity: 0.4;
      top: 0;
      left: 0;
      transform: translateY(-25%);
    }
  }

  .carousel-inner {
    min-height: 500px;
  }

  .carousel-caption :hover {
    color: $background-pale;
    transform: scale3d(1.1,1.1,1.1);
  }
}

#carouselButton {
  right:0;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.navbar img {
  height: 30px;
}

#login-button {
  cursor: pointer;
}

.modal-header {
  background: $background-dark;
  color: floralwhite;

  .close {
    color: floralwhite;
  }

}

.modal-body {
  background: $background-pale;
}

.container {
  max-width: 90%;
}

.btn-register {
  margin-top: 70px;
  font-weight: bolder;
  opacity: 79%;
}

.btn-login {
  margin-top: 70px;
  font-weight: bolder;
  color: $background-pale;
  border: $background-pale 1px solid;
}

.home-text h1 {
  font-weight: bold;
}